<div class="content">
    <div id="login "class="pure-g">
		<div class="pure-u-1-6"></div>
		<div class="pure-u-1 l-box pure-u-md-2-3">
			settings:{{settings|json}}
			<h1 class="is-center">{{test}}</h1>
			<div class="pure-g chart-row">
				<div class="pure-u-1-3">
     				<pie-chart data="pieChart" options="pieOptions"></pie-chart>
    			</div>
				<div class="pure-u-1-3">
					<pie-chart data="pieChart2" options="pieOptions2"></pie-chart>
				</div>
				<div class="pure-u-1-3">
					<pie-chart data="pieChart3" options="pieOptions3"></pie-chart>
				</div>
			</div>
			<div class="pure-g chart-row">
				<div class="pure-u-1-3">
	     			<pie-chart data="mairieChart" options="mairieOptions"></pie-chart>
				</div>
				<div class="pure-u-1-3">
	     			<pie-chart data="soireeChart" options="soireeOptions"></pie-chart>
				</div>
				<div class="pure-u-1-3">
			      	<pie-chart data="brunchChart" options="brunchOptions"></pie-chart>
				</div>
			</div>
			<div class="pure-g">
				<div class="is-center pure-u-1 l-box-lrg">
	    				<i class="fa fa-search"></i> <input type="text" ng-model="famSearch" ng-change="loadChart(ffDeMars)">
	    			<span>Il y a {{ffDeMars.length}} familles</span>
    				<span>, {{present}} inscrites, {{invites}} invités</span>
				</div>
				<div class="pure-u-1 l-box-lrg">
					<label for="Launcher" class="pure-checkbox">
	                       <input id="Launcher" style='opacity:0;' type="checkbox" ng-model="smsLauncher">
	                       <i class="fa fa-rocket"></i>SMS Launcher
                    </label>
                    <label for="testLauncher" class="pure-checkbox" ng-show="smsLauncher">
	                       <input id="testLauncher" type="checkbox" ng-model="testLauncher">Test?
                    </label>
					<form class="pure-form" ng-show="smsLauncher">
					    <fieldset class="pure-group">
					        <textarea class="pure-input-1-2" ng-model="messageSmsLauncher"></textarea>
					    </fieldset>
							<textarea class="pure-input-1-2" ng-if="testLauncher" ng-model="messageSmsLauncherTest"></textarea>
					    <button ng-click="bulkSendSms(messageSmsLauncher,testLauncher); smsLauncher = testLauncher" type="submit" class="pure-button pureinput-1-2 pure-button-primary">Envoyer</button>
					</form>
				</div>
				<div class="pure-u-1">
					<p>
						<span class="green">{{dodo}}</span> personnes dorment sur place. <br>
						<span class="green">{{covoit}}</span> participants au covoiturage, {{car}} voitures, {{seats}} sièges passagers.
					</p>
					<h3>            
						<label for="participation" class="pure-checkbox">
                			<input id="participation" type="checkbox" ng-model="showParticipation" style="display:none">
                			Participations <i class="fa fa-chevron-down" ng-hide="showParticipation"></i>
                			<i class="fa fa-chevron-up" ng-show="showParticipation"></i>
            			</label>
            		</h3>
						<ul class="animate-show" ng-show="showParticipation">
							<li ng-repeat="item in liste">
								[{{item.categorie}}] {{item.name}}: <span class="green">{{item.number}}</span>/{{item.limit}}
								 <i class="fa fa-ban" ng-class="{'red' :!item.enable, 'green':item.enable}" ng-click="enableSetting('participationsList', $index); item.enable = !item.enable"></i>
							</li>
						</ul>
				</div>
			</div>

			<div  ng-repeat="family in ffDeMars = (families | filter:famSearch | orderBy:['-participation.length','-presence', '-recu' ,'-guests.length'])" >
			  	<div class="panel panel-default"  ng-class="{'panel-success': family.participation.length, 'panel-danger': !family.recu}">
			  	  <div class="panel-heading">
			        <div style="float:right;">
			            reçu: <a href='#' ng-click='switchRecu(family)'><i class="fa fa-check-square-o" ng-show="family.recu"></i><i class="fa fa-square-o" ng-hide="family.recu"></i></a>
			            <label for="edit{{$index}}" class="pure-checkbox">
	                        <input id="edit{{$index}}" style='opacity:0;' type="checkbox" ng-model="edit">
	                        <i class="fa fa-pencil"></i>
                    	</label>
                    	<label for="sms{{$index}}" class="pure-checkbox">
	                        <input id="sms{{$index}}" style='opacity:0;' type="checkbox" ng-model="sms">
	                        <i class="fa fa-comment-o"></i>
                    	</label>
			        </div>
			        <h2 class="panel-title">
			          <a href="#/family/{{family._id}}" ng-hide="edit">{{family.login}}</a>
			          <input type="text" ng-show="edit" ng-model="family.login">
			          <span class="tab" ng-show="family.presence">{{family.guests.length}} invité(s)</span>
			          <button ng-show='edit' type="submit" ng-click='confirm(family); edit = false;' class="pure-button pure-button-primary">Sauvegarder</button>
			        </h2>
			      </div>

			  	  <div class="panel-body">
			  	  	<div class="pure-g">
			  	  		<div class="pure-u-1 pure-u-md-1-3 l-box">
					        <address ng-hide="edit">
					            {{family.address}}<br>
					            {{family.city}}<br>
					            {{family.zipCode}}<br>
					          <div class="contact" ng-show="family.presence">
					            <i class="fa fa-envelope-o"></i> : <a href="mailto:{{family.email}}">{{family.email}}</a> <br>
					            <i class="fa fa-mobile"></i> : {{family.tel}}
					          </div>
					        </address>
					        <address ng-show="edit">
					            <input type="text" ng-show="edit" ng-model="family.address"><br>
					            <input type="text" ng-show="edit" ng-model="family.city"><br>
					            <input type="text" ng-show="edit" ng-model="family.zipCode"><br>
					          <div class="contact" ng-show="family.presence">
					            <i class="fa fa-envelope-o"></i> : <input type="text" ng-show="edit" ng-model="family.email"><br>
					            <i class="fa fa-mobile"></i> : <input type="text" ng-show="edit" ng-model="family.tel">
					          </div>
					        </address>

					        <form class="pure-form" ng-show="sms">
							    <fieldset class="pure-group">
							        <textarea class="pure-input-1-2" ng-model="messageSms"></textarea>
							    </fieldset>
							
							    <button ng-click="sendSms(family, messageSms); sms = false" type="submit" class="pure-button pure-input-1-2 pure-button-primary">Envoyer</button>
							</form>			  	  			
			  	  		</div>
			  	  		<div class="pure-u-1 pure-u-md-1-3 l-box">
							 
							<h3 ng-hide="edit">Covoiturage
		                        	<i class="fa fa-check-square-o" ng-show="{{family.covoit}}"></i><i class="fa fa-square-o" ng-hide="{{family.covoit}}"></i>
		                    </h3>
							<label ng-show="edit" for="covoitEdit{{$index}}" class="pure-checkbox">
		                       Covoiturage <input id="covoitEdit{{$index}}"  type="checkbox" ng-model="family.covoit">
		                    </label>

							<label ng-show="edit" for="rider{{$index}}" class="pure-checkbox">
								Voiture <input id="rider{{$index}}" type="checkbox" ng-model="family.covoitInfo.rider">
							</label>
							<label ng-if="edit && family.covoit && family.covoitInfo.rider" for="driver{{$index}}">Conducteur:
		                        <select id="driver{{$index}}" ng-model="family.covoitInfo.driver" ng-options="guest.firstName for guest in family.guests track by guest.firstName">
		                        </select>
		                        <br>
		                    </label>

							<ul ng-if="family.covoitInfo.rider">
								<li >
									Conducteur: {{family.covoitInfo.driver.firstName}}
								</li>
								<li ng-hide="edit">
									Seats: {{family.covoitInfo.seats}}
								</li>
								<li ng-show="edit">Seats: <input type="number" ng-model="family.covoitInfo.seats"></li>
							</ul>

			  	  		</div>
			  	  		<div class="pure-u-1 pure-u-md-1-3 l-box">
			  	  			<ul class="list-inline" ng-show="family.presence">
			  	  				<li>Dodo: <i class="fa fa-check-square-o" ng-show="{{family.dodo}}"></i><i class="fa fa-square-o" ng-hide="{{family.dodo}}"></i></li>
			          			<li ng-repeat="(fete, val) in family.fetes">
			          			  {{fete}}: <i class="fa fa-check-square-o" ng-show="val"></i><i class="fa fa-square-o" ng-hide="val"></i>
			          			</li>
			          			<li ng-show="edit"><input type="text" ng-model="family.oldmdp"></li>
			          			<li ng-hide="edit">mdp: {{family.oldmdp}}</li>
			        		</ul>
			  	  		</div>
			  	  		<div class="pure-u-1 lg-box-lrg">
			  	  			<h3>Participation</h3>
			  	  			<ol>
            				    <li ng-repeat="thing in family.participation">{{thing.name}}  
            				        <span ng-if="thing.categorie == 'cook'"> pour au moins 20 personnes</span>
            				        <span ng-if="thing.categorie == 'drink'"> au moins 4L</span>
            				        <span ng-if="thing.categorie == 'bring'"> au moins 1kg</span>
            				    </li>
			  	  			</ol>
			  	  		</div>
			  	  	</div>
			  	  </div>

			  	</div>
			</div>

		  	<div ng-hide="isAdmin()">
				<h3>Only admin can add a Family.</h3>
			</div>
			<div ng-show="error" class="alert alert-danger row">
			    <span>{{ error.message }}</span>
			</div>
			<form  class="loginForm" ng-submit="addFamily()" ng-show="isAdmin()" style="margin-top:30px;">
			    <h3>Ajouter une nouvelle Famille</h3>
			    <div class="form-group">
			      <input type="text" class="form-control" placeholder="login" ng-model="login"></input>
			    </div>
			    <div class="form-group">
			      <input type="text" class="form-control" placeholder="password" ng-model="password"></input>
			    </div>
			    <div class="form-group">
			      <input type="text" class="form-control" placeholder="address" ng-model="address"></input>
			    </div>
			    <div class="form-group">
			      <input type="text" class="form-control" placeholder="city" ng-model="city"></input>
			    </div>
			    <div class="form-group">
			      <input type="text" class="form-control" placeholder="zipCode" ng-model="zipCode"></input>
			    </div>      			        
			    <button type="submit" class="btn btn-primary">Ajouter la famille <strong>{{login}}</strong></button>
			</form>
		</div>
    </div>
</div>