<div class="content">
    <div class="pure-g">
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 is-center">
            <h3 class="content-subhead">
                <i class="fa fa-cutlery"></i>
                Participation
            </h3>
            <p class="text-left">
                Et oui toi aussi au fond, là, caché. Tu vas mettre la main à la pâte comme tout le monde.
            </p>
            <a href="" ng-click="scrollTo('participation')" class="pure-button button-xsmall">INCROYABLE !!!</a>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 is-center">
            <h3 class="content-subhead">
                <i class="fa fa-bed"></i>
                Nuitée
            </h3>
            <p class="text-left">
                Le monde se divise en 2 catégories, ceux qui rêvent d'un lit douillet et ceux qui creusent. Toi, tu creuses.
            </p>
            <a href="" ng-click="scrollTo('dodo')" class="pure-button button-xsmall center">Comment ???</a>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 is-center">
            <h3 class="content-subhead">
                <i class="fa fa-gift"></i>
                Liste de mariage
            </h3>
            <p class="text-left">
                Pas de liste. Par contre tu si tu insistes pour un cadeau, tu peux toujours co-financer le voyage de noces.
            </p>
            <a href="" ng-click="scrollTo('cadeau')" class="pure-button button-xsmall">Montre moi !!!</a>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 is-center">

            <h3 class="content-subhead">
                <i class="fa fa-car"></i>
                Covoiturage
            </h3>
            <p class="text-left">
                Il faut compter 1h de route de la mairie au lieu de reception. Profitons-en pour se connaître.
            </p>
            <a href="" ng-click="scrollTo('covoiturage')" class="pure-button button-xsmall">Mais c'est SUPER !!!</a>
        </div>
    </div>
</div>

<div class="ribbon l-box-lrg pure-g">
    <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
        <img class="pure-img-responsive" alt="File Icons" width="200" src="/images/logoJ&LWhite.svg">
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-13-24 is-center">

        <h2 class="content-head content-head-ribbon">Le concept</h2>

        <p class="text-left">
            Nous revoici avec un peu, beaucoup, passionnément de retard. <br>
            Car oui le jour J arrive à vitesse grand V et nous ne sommes absolument pas prêt. Ta mission jeune padawan ne sera non pas de sortir ton sabre laser, mais de nous aider à faire en sorte que ce mariage soit le plus beau de toute la Voie lactée.<br>
            La première étape consiste à remplir assidument les petits questionnaires ci-dessous.<br>
        </p>
        <p class="text-right"> <i>Julie & Lovasoa</i></p>
    </div>
</div>
<span class="anchor" id="participation"></span>
<div class="content">
    <h2 class="content-head is-center">Participation</h2>
    <div class="pure-g">
        <div class="l-box-lrg pure-u-1 pure-u-md-1-3">
            <p>
                Voici votre chance de prouver que la force est en vous. Nous demandons 1 seul type de participations, néanmoins les plus téméraires peuvent multiplier les tâches.
            </p>
            <form class="pure-form">
                <label for="cook" class="pure-radio">
                    <input id="cook" type="radio" ng-model="participation.type" value="cook">
                    Je suis un cuisinier hors pair.
                </label>
            
                <label for="drink" class="pure-radio">
                    <input id="drink" type="radio" ng-model="participation.type" value="drink">
                    Je fais des cocktails à tomber par terre.
                </label>
            
                <label for="bring" class="pure-radio">
                    <input id="bring" type="radio" ng-model="participation.type" value="bring">
                    J'ai pas le temps (ou le talent?). Comment puis-je être utile?
                </label>
            </form>
        </div>
        <div class="l-box-lrg pure-u-1 pure-u-md-1-3">
            <p class="indic" class="animate-show" ng-hide="participation.type">Sélectionnez une des catégories</p>
            <div class="animate-show" ng-show="participation.type == 'cook'">
                <p class="indic">Nous avons besoin de jolis apéritifs à déguster avec le champagne et de bon gateaux à déguster le lendemain</p>
                <form class="pure-form">
                    <label for="apero-one" class="pure-radio">
                        <input id="apero-one" type="radio" ng-model="cook" value="apero1">
                        Sablés au parmesan
                    </label>
                    <label for="apero-two" class="pure-radio">
                        <input id="apero-two" type="radio" ng-model="cook" value="apero2">
                        Verrines saumon fumé et mascarpone citronnée
                    </label>
                    <label for="apero-three" class="pure-radio">
                        <input id="apero-three" type="radio" ng-model="cook" value="apero3">
                        Verrines de melon, mozzarella, jambon cru
                    </label>
                    <label for="apero-four" class="pure-radio">
                        <input id="apero-four" type="radio" ng-model="cook" value="apero4">
                        gâteau, cake 
                    </label>
                    <label for="apero-five" class="pure-radio">
                        <input id="apero-five" type="radio" ng-model="cook" value="apero5">
                        J'ai une recette perso qui va épater tous le monde.
                    </label>
                </form>
            </div>
            <div class="animate-show" ng-show="participation.type == 'drink'">
                <p class="indic">Nous avons un peu de vin 2-3 bières, il manque quelques cocktails sympathiques pour agrémenter la soirée</p>
                <form class="pure-form">
                    <label for="alcool-one" class="pure-radio">
                        <input id="alcool-one" type="radio" ng-model="drink" value="alcool1">
                        Mojito - L'incontournable
                    </label>
                    <p class="indic" class="animate-show" ng-show=""></p>
                
                    <label for="alcool-two" class="pure-radio">
                        <input id="alcool-two" type="radio" ng-model="drink" value="alcool2">
                        Sangria blanche - L'exquise
                    </label>
                    <p class="indic" class="animate-show" ng-show=""></p>
                
                    <label for="alcool-three" class="pure-radio">
                        <input id="alcool-three" type="radio" ng-model="drink" value="alcool3">
                        Sangria rouge - La chaleureuse
                    </label>
                    <p class="indic" class="animate-show" ng-show=""></p>

                    <label for="alcool-four" class="pure-radio">
                        <input id="alcool-four" type="radio" ng-model="drink" value="alcool4">
                        Spritz - Le cocktail le plus coté du Canal Saint Martin
                    </label>
                    <p class="indic" class="animate-show" ng-show=""></p>

                    <label for="alcool-five" class="pure-radio">
                        <input id="alcool-five" type="radio" ng-model="drink" value="alcool5">
                        Autre cocktail (ex: punch à Jaquet)
                    </label>
                    <p class="indic" class="animate-show" ng-show=""></p>
                </form>
            </div>
            <div class="animate-show" ng-show="participation.type == 'bring'">
                <p class="indic"></p>
                <form class="pure-form">
                    <label for="achat-one" class="pure-radio">
                        <input id="achat-one" type="radio" ng-model="achatsRadios" value="achat1">
                        Légumes
                    </label>
                    <p class="indic" class="animate-show" ng-show=""></p>
                
                    <label for="achat-two" class="pure-radio">
                        <input id="achat-two" type="radio" ng-model="achatsRadios" value="achat2">
                        Fruits
                    </label>
                    <p class="indic" class="animate-show" ng-show=""></p>
                
                    <label for="achat-three" class="pure-radio">
                        <input id="achat-three" type="radio" ng-model="achatsRadios" value="achat3">
                        Oléagineux (Amandes, noisettes, ,noix)
                    </label>
                    <p class="indic" class="animate-show" ng-show=""></p>

                    <label for="achat-four" class="pure-radio">
                        <input id="achat-four" type="radio" ng-model="achatsRadios" value="achat4">
                        Chips à l'ancienne.
                    </label>
                    <p class="indic" class="animate-show" ng-show=""></p>
                </form>                
            </div>
        </div>
        <div class="l-box-lrg pure-u-1 pure-u-md-1-3">
            <h3>Recettes</h3>
            <div class="animate-show" ng-show="cook == 'apero1' && participation.type == 'cook'">
                <span class="green">Recette pour 10 personnes</span><br>
                <ul>
                    <li>350 gr farine</li>
                    <li>350 gr parmesan</li>
                    <li>350 gr beurre</li>
                    <li>3 grosses pincées sel</li>
                    <li>3 pincées piment d'espelette</li>
                </ul>
                <ol>
                    <li>Mélanger dans un saladier: farine, parmesan, beurre et sel ; ajouter eau si nécessaire.</li>
                    <li>Former des sablés assez petits mais épais et les mettre sur une plaque avec du papier sulfurisé.</li>
                    <li>Mettre à four chaud (<span class="red">160°</span>) pendant 15mn et surveiller la couleur.</li>
                    <li>
                        <span class="green">A la sortie du four, mettre un pincée de piment d'espelette sur chaque sablé.</span>
                    </li>
                </ol>
            </div>
            <div class="animate-show" ng-show="cook == 'apero2' && participation.type == 'cook'">
                <span class="green">Recette pour 10 personnes</span><br>
                <ul>
                    <li>2 pot de mascarpone</li>
                    <li>2 citron</li>
                    <li>8 tranches de saumon fumé</li>
                    <li>sel</li>
                    <li>poivre</li>
                </ul>
                <ol>
                    <li>Dans un saladier y mettre un pot de mascarpone, le jus de citron , salez poivrez, mélangez le tout.</li>
                    <li>Coupez les tranches de saumon en petits cubes.</li>
                    <li>Prenez vos petites verrines mettre un peu de saumon dans le fond puis au dessus la crème mascarpone et ainsi de suite jusqu'en haut de la verrine.</li>
                    <li>
                        <span class="green">Petit conseil:</span> servir très <span class="blue">frais</span> donc prévoir une glacière pour le trajet ;)
                    </li>
                </ol>
            </div>
            <div class="animate-show" ng-show="cook == 'apero3' && participation.type == 'cook'">
                <span class="green">Recette pour 10 personnes</span><br>
                <ul>
                    <li>2 melons</li>
                    <li>8 tranches de jambon de Parme</li>
                    <li>Basilic frais</li>
                    <li>3 boules de mozzarella</li>
                    <li>Sel, poivre</li>
                    <li>Huile d'olive</li>
                </ul>
                <ol>
                    <li>Coupez le melon, épluchez-le et détaillez-le en petits dés.</li>
                    <li>Coupez les tranches de jambon en lanières de 0,5 mm environ.</li>
                    <li>Coupez la mozzarella en petits dés.</li>
                    <li>Dans un saladier, mettez tous les ingrédients et mélangez délicatement.</li> 
                    <li>Ajoutez quelques feuilles de basilic hachées finement.</li>
                    <li>Assaisonnez avec le poivre, le sel si nécessaire, et un filet d'olive.</li>
                    <li>Répartissez dans les verrines en veillant à ce que tous les ingrédients soient bien répartis.</li>
                    <li>
                        <span class="green">Petit conseil:</span> servir très <span class="blue">frais</span> donc prévoir une glacière pour le trajet ;)
                    </li>
                </ol>
            </div>

            <div class="animate-show" ng-show="drink == 'alcool1' && participation.type == 'drink'">
                <span class="green">Recette pour 1L</span><br>
                <ul>
                    <li>50 cl de rhum cubain</li>
                    <li>25 cl de jus de citrons verts</li>
                    <li>une bonne botte de feuilles de menthe</li>
                    <li>25 cl de sirop de sucre de canne</li>
                    <li>Complétez avec de l'eau gazeuse (perrier, san pellegrino...)</li>
                </ul>
                <span class="green">Petit conseil:</span> ne pas mettre l'eau gazeuse dans votre preparation, nous le mettrons au <span class="blue">frais</span>, nous le servirons au bon moment.
            </div>
            <div class="animate-show" ng-show="drink == 'alcool2' && participation.type == 'drink'">
                <span class="green">Recette pour 10 personnes</span><br>
                <ul>
                    <li>2,5 L litres de vin blanc sec</li>
                    <li>300 de sucre en poudre - selon votre goût</li>
                    <li>2 citrons</li>
                    <li>2 oranges</li>
                    <li>3 pêches</li>
                    <li>2 bâtons de canelle</li>
                    <li>2 clous de girofle</li>
                    <li>5 cl de liqueur à l'orange type Grand-Marnier</li>
                    <li>1/2 bouteille de limonade</li>
                </ul>
                <p>
                    <span class="green">Petit conseil:</span> la préparer au moins 24h à l'avance. <br>
                    <a href="http://www.750g.com/sangria-blanche-r3608.htm" target="_blank">Comment la préparer</a>
                </p>
            </div>
            <div class="animate-show" ng-show="drink == 'alcool3' && participation.type == 'drink'">
                <span class="green">Recette pour 10 personnes</span><br>
                <ul>
                    <li>2,5 L de vin rouge</li>
                    <li>20 cl de porto rouge</li>
                    <li>20 cl de triple sec (cointreau, grand marnier)</li>
                    <li>Quelques tranches de gingembre</li>
                    <li>20 cl de cognac</li>
                    <li>Le jus et le zeste de 2 orange</li>
                    <li>Le jus et le zeste de 2 citron</li>
                    <li>2 bâtons de canelle</li>
                    <li>Fruits de saison</li>
                    <li>sucre</li>
                </ul>
                <p>
                    <span class="green">Petit conseil:</span> la préparer au moins 24h à l'avance et bien brasser afin de dissoudre le sucre <br>
                </p>
            </div>
            <div class="animate-show" ng-show="drink == 'alcool4' && participation.type == 'drink'">
                <span class="green">Recette pour 1L</span><br>
                <ul>
                    <li>30 cl d' eau gazeuse (perrier, san pellegrino...)</li>
                    <li>25 cl de campari</li>
                    <li>55 cl de vin blanc</li>
                    <li>Agrémenter votre verre d'une tranche d'orange.</li>
                </ul>
                <p>
                    <span class="green">Petit conseil:</span> ne pas mettre l'eau gazeuse dans votre preparation, nous le mettrons au <span class="blue">frais</span>, nous le servirons au bon moment.
                </p>
            </div>
            <div class="animate-show" ng-show="drink == 'alcool4' && participation.type == 'drink'">
                <span class="green">Dites nous ce que vous avez l'intention de faire</span><br>
                <div class="l-box-lrg">
                    
                </div>
            </div>

        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-5"></div>
        <div class="pure-u-1 pure-u-md-3-5 big-top-border">
            <h3>Je vais ramener :</h3>
            <ul>
                <li>Sablés au parmesan pour 
                    <label for="seats" class="pure-number">
                        <input id="seats" type="number" min="2" max="10" step="1" ng-model="family.covoitInfo.seats">
                        dizaines de personnes
                    </label>
                </li>
            </ul>
            <p class="is-center"><button type="submit" class="pure-button pure-button-primary">Confirmer</button></p>
        </div>
    </div>
</div>

<div class="ribbon l-box-lrg pure-g">
    <span class="anchor" id="dodo"></span>
    <div class="dodo pure-u-1 pure-u-md-1-2 l-box-lrg">
        <h2 class="content-head content-head-ribbon">Nuitée</h2>
        <h3>Plusieurs options s'offrent à vous</h3>
        <p>
            <i class="fa fa-star"></i>
            Peu d'hôtels à Saint-Yorre mais Vichy ne se trouve qu'à 10min de voiture. Et quelques logements <a href="https://www.airbnb.fr/c/lredobana?s=24&i=1"  target="_blank"->Airbnb</a> sont disponibles dans cette jolie ville thermale. 
        </p>
        <p>
            <i class="fa fa-star"></i> 
            <i class="fa fa-star"></i>
            Le <a href="http://www.ville-saint-yorre.fr/pagecampinghotel.htm" target="_blank">Camping la Gravière</a> sera ravi de vous accueuillir de l'autre côté de l'Allier à 10min à pieds de notre petite sauterie.
        </p>
        <p>
            <i class="fa fa-star"></i> 
            <i class="fa fa-star"></i> 
            <i class="fa fa-star"></i>
            Dormir sur place !!! Prévoyez matelas, duvet, brosse à dent pour dormir dans le dortoir commun. <br>
            Ou ammenez la tente à planter à la cool dans le jardin. <br>
            <label for="dodoCheckbox" class="pure-checkbox">
                <input id="dodoCheckbox" type="checkbox" ng-click='switchDodo(family)' ng-model="family.dodo">
                Nous dormons sur place: <span class="animate-show animate-replace red" ng-hide="family.dodo" >No</span><span class="animate-show animate-replace green" ng-show="family.dodo">Yes!</span>
            </label>
        </p>
        <p>
            <i class="fa fa-star"></i> 
            <i class="fa fa-star"></i> 
            <i class="fa fa-star"></i> 
            <i class="fa fa-star"></i> 
            <i class="fa fa-star"></i> 
            Dormir? <a href="https://youtu.be/bDbpzjbXUZI?t=1m11s" target="_blank">Ca ne fait pas parti de mes plans.</a> 
        </p>
    </div>
    <span class="anchor" id="cadeau"></span>
    <div class="pure-u-1 pure-u-md-1-2 l-box-lrg">

        <h2 class="content-head content-head-ribbon">Liste de mariage</h2>

        <p>
            Nous ne souhaitons pas faire de liste de mariage car nous n'avons besoin de rien en particulier.<br><br>
            Néanmoins on prévoit de partir cet hiver, loin du temps maussade parisien. Donc si l'envie vous prend de nous glisser un petit billet, une cagnotte sera mise en place le jour du mariage. <br><br>
            Sous forme physique (une boîte où t'allonges la monnaie) et en ligne pendant une semaine pour ceux qui sont dans le <abbr title="Futur" class="initialism">turfu</abbr> et qui veulent faire flamber la Mastercard (cela marche aussi avec les Visa).
        </p>
    </div>
</div>


<span class="anchor" id="covoiturage"></span>
<div  class="content">
    <div class="pure-g">
        <div class="l-box-lrg pure-u-1 pure-u-md-1-3">
            <h2 class="is-center">Mémo</h2>
            <h4>Parking</h4>
            <p>
                Pour la <span class="green">cérémonie</span>, la mairie étant assez vigilante sur le problème de stationnement interdit les jours de mariage, nous vous conseillons de mettre de côté vos ardeurs criminelles. Nourrissez les parcmètres ou utilisez le parking souterrain à côté (1,20 €/h)
            </p>
            <p>
                A <span class="green">Saint-Yorre</span> nous baliseront les parkings proches du lieu de réception.
            </p>
            <h4>Départ</h4>
            <p>
                Nous ne tarderons pas à quitter Clermont puisque les festivités se dérouleront à Saint-Yorre. 
            </p>
        </div>
        <div class="l-box-lrg pure-u-1 pure-u-md-1-3">
            <h2 class="is-center">Covoiturage</h2>
            <p>
                Pour que tout le monde fasse connaissance, nous allons mélanger les voitures en créant des équipes aléatoires. Elles auront la durée du trajet pour s'affronter lors d'un jeu palpitant et inédit sur la planète bleue. 
            </p>
            <form class="pure-form pure-form-aligned">
                <fieldset>
                    <label for="covoit" class="pure-checkbox">
                        <input id="covoit" type="checkbox" ng-model="family.covoit">
                        Nous participons au covoiturage
                    </label>
                    <span class="animate-show red" ng-hide="family.covoit">Allez viens on est bien!!</span>
                    <label for="rider" class="pure-checkbox">
                        <input id="rider" type="checkbox" ng-model="family.covoitInfo.rider">
                        Je  viens avec une voiture.
                    </label>
                    <label for="driver">Conducteur:</label>
                    <select id="driver" ng-model="family.covoitInfo.driver" ng-options="guest.firstName for guest in family.guests track by guest.firstName">
                    </select>
                    <br>
                    <label for="seats" class="pure-number">
                        <input id="seats" type="number" min="0" max="9" ng-model="family.covoitInfo.seats">
                        Places disponibles dans la voiture
                    </label>
                    <br> 
                    <p class="is-center"><button type="submit" ng-click="covoiturage('family')" class="pure-button pure-button-primary">Je valide</button></p>
                </fieldset>
            </form>
        </div>
        <div class="l-box-lrg pure-u-1 pure-u-md-1-3">
            <h2 class="is-center">Maps</h2>
            <adress>
                8 Place Jean Jaurès <br> 03270 Saint-Yorre <br> France
            </adress>
            <br><br>
          <iframe
             width="100%"
             height="300px"
             frameborder="0" style="border:0"
             src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyA2i77cZA6qAcRTKesn_IVAzGyTXN5mj4E&destination=Saint-Yorre+France&origin=Clermont-Ferrand+France&zoom=9" allowfullscreen>
            </iframe>
        </div>
    </div>

</div>