<section>
	<div id="login">
		
		<div id="logologin" class="text-center"><img src="/images/logoBlancLarge.png" alt=""></div>
		<div class="col-sm-4 col-sm-offset-4">
			<div>
				<form id="formlogin" action="" ng-submit="logIn()">
					<input class="input-lg" type="text" class="form-control" placeholder="IDENTIFIANT" ng-model="user.username">
					<input class="input-lg" type="password" class="form-control" placeholder="MOT DE PASSE" ng-model="user.password">
				  	<button type="submit" class="btn btn-default btn-lg">VALIDER</button>
				</form>
			</div>
		</div>
	</div>
	<div class="triangle-down-right tlogin"></div>
</section>