<div class="content">
    <div id="login "class="pure-g">
    	<div class="pure-u-1-4"></div>
    	<div class="pure-u-1-2 is-center">
    		<form id="formlogin" class="pure-form" ng-submit="logIn()">
			    <fieldset>
			        <legend>S'enregistrer</legend>
			
			        <input type="text" placeholder="IDENTIFIANT" ng-model="user.username">
			        <input type="password" placeholder="MOT DE PASSE" ng-model="user.password">

			        <button type="submit" class="pure-button pure-button-primary">VALIDER</button>
			    </fieldset>
			</form>	
		</div>
	</div>
</div>